users:
  {{ authelia_admin_user }}:
    displayname: "{{ authelia_admin_displayname }}"
    password: "{{ authelia_admin_password_hash }}"
    email: {{ authelia_admin_email }}
    groups:
      - admins
      - shared
{% if authelia_shared_password_hash is defined and authelia_shared_password_hash %}
  shared:
    displayname: "Shared"
    password: "{{ authelia_shared_password_hash }}"
    email: shared@{{ domain_name }}
    groups:
      - shared
{% endif %}
{% if authelia_eladiv_password_hash is defined and authelia_eladiv_password_hash %}
  eladiv:
    displayname: "Eladiv"
    password: "{{ authelia_eladiv_password_hash }}"
    email: eladiv@{{ domain_name }}
    groups:
      - panel
{% endif %}