users:
  {{ authelia_admin_user }}:
    displayname: "{{ authelia_admin_displayname }}"
    password: "{{ authelia_admin_password_hash }}"
    email: {{ authelia_admin_email }}
    groups:
      - admins
      - dev
{% if authelia_extra_users is defined and authelia_extra_users %}
{% for user in authelia_extra_users %}
  {{ user.username }}:
    displayname: "{{ user.displayname }}"
    password: "{{ user.password_hash }}"
    email: {{ user.email }}
    groups:
      - users
{% endfor %}
{% endif %}